@charset "utf-8";
/* CSS Document */

#aContent{background:#999;
          /*border:1px solid #F00;*/
		  /*border:10px solid;*/
		  /*border:10px dotted;*/
		  /*border-top:5px solid;
		  border-bottom:3px dotted;
		  border-left:2px dashed;
		  border-right:20px solid;*/
		  /*padding:50px;	*/
		 /* padding:75px;*/	
		   /*padding:10px;
		   margin:10px;	 */ 
		  }
		  
		  
		  
#anotherContent{/*background:#36F;*/
         /* border:1px solid #F00;*/
		  /*border:10px solid;
		  border:10px dotted;*/
		  /*border-top:5px solid;
		  border-bottom:3px dotted;
		  border-left:2px dashed;
		  border-right:20px solid;*/
		  /*padding:50px;	*/
		 /* padding:75px;*/	
		   /*padding:10px;*/
		  /* margin:10px;	 */ 
		  
		  /*margin-left:100px;*/
		  }
		  
		  
span{/*background-color:#C00;*/
	 /*margin-left:10px;*/
	 /*margin-left:100px;*/
	 /*margin-right:50px;*/
	/* margin-right:0px;*/
    }

b{/*background-color:#0C0;*/
  /* margin-left:100px;*/
  /* margin-left:90px;*/
   /*margin-left:40px;*/
    /*margin-left:10px;*/
	/*margin-left:0px;*/
	/*margin-left:-30px;
	position:relative;
	top:15px;}

i{background-color:#909;
}

p{background-color:#FF6;}

h3{background-color:#0F0;
	margin:0px;}

body{margin:0px;
     padding:0px;}*/
	 
	 
/*.cssShortCut{
			 padding-left:10px;
		     padding-right:20px;
			 padding-bottom:30px;
			 padding-top:40px;  
			 padding:10px 20px 30px 40px;
			 padding:10px 20px 30px 20px;  */
			/* background-color:#999;
			 width:300px;
			 height:100px;
			 padding:20px;
			 border:20px solid;
			 margin:20px;*/
	         /*float:left;  */
			}
			
			
/*.cTest{margin:5px;}*/
